@import url('./header.css');
@import url('./main.css');
@import url('./sidelist.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
}

:root {
  --cor-primaria: #FF764C;
  --cor-secundaria: #08415C;
  --cor-neutra: #6B818C;
  --cor-fundo: #EEE5E9;
  --cor-texto: #333333;

  --fonte-principal: "Poppins", serif;
}

a {
  text-decoration: none;
  color: var(--cor-texto);
}

input {
  background-color: #F0F0F0;
  border: none;
  color: var(--cor-texto);
  border-radius: 25px;
  padding: 0.2rem;
  padding-left: 1.7rem;
}

input::placeholder {
  color: var(--cor-texto);
  padding-left: 1.5rem;
  align-self: center;
}

li {
  list-style-type: none;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
  border-bottom: 2px solid #F0F0F0;
}

li button {
  background-color: var(--cor-fundo);
  border: none;
}