@import url('./header.css');
@import url('./main.css');
@import url('./sidelist.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
}

:root {
  --cor-primaria: #FF764C;
  --cor-secundaria: #08415C;
  --cor-neutra: #6B818C;
  --cor-fundo: #EEE5E9;
  --cor-texto: #333333;

  --fonte-principal: "Poppins", serif;
}

a {
  text-decoration: none;
  color: var(--cor-texto);
}